:root {
  --main-bg: #EEEEEE;
  --main-dark-bg: #28272D;

  --highlight: #0095DA; /*EB008B*/ 
  --highlight2: #EB008B;

  --highlight-hover: #0072bc;
  --highlight2-hover: #b9006e;

  --body-bg: #f8f9fa;
  --body-text: #333;
  --body-dark-text: #FFF;

  --sidebar-bg: #f8f9fa;
  --sidebar-text: #333;
  --sidebar-dark-bg: #28272D;
  --sidebar-dark-text: #FFF;

  --top-nav-bg: #f8f9fa;
  --top-nav-dark-bg: #28272D;
  --top-nav-text: #333;
  --top-nav-dark-text: #FFF;

  --top-nav-buttons-bg: #EFEEEA;
  --top-nav-buttons-dark-bg: #212121;
  --top-nav-buttons-text: #333;
  --top-nav-buttons-dark-text: #FFF;

  --online-color: #00ff00;
  --offline-color: #ff0000;
}

